# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# Logs
*.log

# Local settings / secrets
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
